In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("test.db")

# Create sample table
df = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"],
    "sales": [1200, 900, 1450]
})

df.to_sql("sales_table", conn, if_exists="replace", index=False)

conn.close()

In [3]:
import sqlite3
import pandas as pd

def run_sql_query(db_path, query):
    conn = sqlite3.connect(db_path)
    result = pd.read_sql_query(query, conn)
    conn.close()
    return result

query = "SELECT * FROM sales_table;"
output = run_sql_query("test.db", query)
output

   id     name  sales
0   1    Alice   1200
1   2      Bob    900
2   3  Charlie   1450

In [8]:
import pandas as pd
import os

# Create directory if missing
os.makedirs("data/raw", exist_ok=True)

data = {
    "Customer Name": ["A", "B", None],
    " AGE ": [25, None, 30],
    "JoinDate": ["2022/01/05", "2022-03-10", None]
}

df = pd.DataFrame(data)

df.to_csv("data/raw/sample_raw.csv", index=False)
df

  Customer Name   AGE     JoinDate
0             A   25.0  2022/01/05
1             B    NaN  2022-03-10
2          None   30.0        None

In [9]:
import os
import pandas as pd

# 1. Check working directory
print("Current working directory:", os.getcwd())

# 2. Create folders
os.makedirs("data/raw", exist_ok=True)
os.makedirs("data/cleaned", exist_ok=True)

# 3. Create a small dataframe
data = {
    "Customer Name": ["A", "B", None],
    " AGE ": [25, None, 30],
    "JoinDate": ["2022/01/05", "2022-03-10", None]
}

df = pd.DataFrame(data)

# 4. Save file
file_path = "data/raw/sample_raw.csv"
df.to_csv(file_path, index=False)

# 5. Check if file exists
print("File exists?", os.path.exists(file_path))
print("Full path to file:", os.path.abspath(file_path))

Current working directory: C:\Users\Admin
File exists? True
Full path to file: C:\Users\Admin\data\raw\sample_raw.csv

In [7]:
import pandas as pd

def suggest_ml_algorithm(df):
    numeric_cols = df.select_dtypes(include=["int64", "float64"]).columns
    non_numeric_cols = df.select_dtypes(include=["object"]).columns

    suggestions = []

    # If target is numeric → Regression
    if "sales" in df.columns:
        suggestions.append("Possible Algorithms: Linear Regression, Random Forest Regressor")
    
    # If target is categorical → Classification
    if "category" in df.columns:
        suggestions.append("Possible Algorithms: Logistic Regression, XGBoost Classifier")
    
    # If no target given
    if len(suggestions) == 0:
        suggestions.append("Dataset lacks a clear target column. Consider clustering (K-Means).")

    return suggestions

# Test with SQL output
suggest_ml_algorithm(output)

['Possible Algorithms: Linear Regression, Random Forest Regressor']